body
{
    font-family: 'League Spartan';
    background-color: #7f8f99;
}
.ispisPodataka
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.forma
{
    margin-top: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    color: #b19702e1;
    max-width: 500px;
    margin-bottom: 20px;
}
.formaNaslov
{
    font-size: 25px;
    font-weight: bold;
}
#labelInput
{
    font-size:20px;
}
#formaSubmit
{
    width: 100%;
    font-size:20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #f8d71be1;
    transition: 300ms;
}
#formaSubmit:hover
{
    background-color: #cfbd59e1;
}

#linkPocetna
{
    padding-top: 5px;
    text-align: center;
    display: block;
    font-size: 18px;
    color: #b19702e1;
}



.greskaPrazno
{
    padding-top: 3px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: red;
    display: table;
    margin: auto;
    margin-bottom: 13px;
    color: white;
    font-size: 15px;
}