body
{
    font-family: 'League Spartan';
    background-color: #2e2e2dbf;
}
.ispisPodataka
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.forma
{
    margin-top: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    color: rgb(167, 143, 7);
    max-width: 500px;
    margin-bottom: 20px;
}
.formaNaslov
{
    font-size: 25px;
    font-weight: bold;
}
#labelInput
{
    font-size:20px;
}
#formaSubmit
{
    width: 100%;
    font-size:20px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #999999;
    border-color: #000000;
    transition: 300ms;
}
#formaSubmit:hover
{
    background-color:rgb(228, 179, 17);
    border-color: rgb(122, 94, 0);
    color: #636363;
}

#formaSubmitdis
{
    width: 100%;
    font-size:20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:rgb(228, 179, 17);
    transition: 300ms;
    cursor: not-allowed;
}



.buttonRez
{
    margin-top: 10px;
}

#linkPocetna
{
    padding-top: 5px;
    text-align: center;
    display: block;
    font-size: 18px;
    color: rgb(228, 179, 17);
}



.greskaPrazno
{
    padding-top: 3px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: red;
    display: table;
    margin: auto;
    margin-bottom: 13px;
    color: white;
    font-size: 15px;
}


/* tabela */
table{
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
table, tr, th, td{
    border: none;
    border-collapse: collapse;
    padding: 12px;
}
th, td{
    text-align: center;
    vertical-align: top;
    
}
tr:nth-child(even){
    background-color: #e7e9eb;
}
tr:nth-child(odd){
    background-color: white;
}
.admin
{
    color: white;
    background-color: #818181;
    padding: 10px;
    border-radius: 5px;
}
.uspesno
{
    padding-top: 3px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: green;
    display: table;
    margin: auto;
    margin-bottom: 13px;
    color: white;
    font-size: 15px;
}
.nemaPodataka
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#np
{
    
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    background-color: #9BBEC8;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
